<% layout('layouts/boilerplate') -%>
<link rel="stylesheet" href="/css/star.css">
<h1><%=camp.title%></h1>
<div class="row">
    <div class="col-6">
        <div class="card mb-3">
            <% for(let image of camp.image) { %>
                <img src="<%= image.url%>" class="card-img-top" alt="...">
            <% } %>
            <div class="card-body">
                <h5 class="card-title"><%= camp.title%></h5>
                <p class="card-text"><%= camp.description%></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-muted"><%= camp.location%></li>
                <li class="list-group-item"><%= `$${camp.price}`%>/night</li>
            </ul>
            <div class="card-body">
                <div class="card-body">
                    <% if(camp.author.equals(user._id)){ %>
                        <a class="card-link btn btn-info" href="/allcamps/edit/<%=camp._id%>">Edit</a>
                        <form class="d-inline" action="/allcamps/delete/<%=camp._id%>?_method=DELETE" method="POST">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    <% } %>  
                </div>
                <a class="card-link btn btn-info" href="/allcamps">Back to allcamps</a>
            </div>
            <div class="card-footer text-muted">
                2 days ago
            </div>
        </div>
    </div>
    <div class="col-6 mt-20">
        <h2>Add a review</h2>
        <form action="/campgrounds/<%=camp._id%>/reviews" method="POST" class="mb-3 validated-form" novalidate>
            <div class="mb-3">
            <fieldset class="starability-basic">
                <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked
                    aria-label="No rating." />
                <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                <label for="first-rate1" title="Terrible">1 star</label>
                <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                <label for="first-rate2" title="Not good">2 stars</label>
                <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                <label for="first-rate3" title="Average">3 stars</label>
                <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                <label for="first-rate4" title="Very good">4 stars</label>
                <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                <label for="first-rate5" title="Amazing">5 stars</label>
            </fieldset>
            </div>
            <div class="mb-3">
                <label class="form-label" for="body">Review</label>
                <textarea class="form-control" name="review[body]" id="body" cols="30" rows="3" required></textarea>
                <div class="valid-feedback">
                    looks great.
                </div>
                <div class="invalid-feedback">
                    please enter something!
                </div>
            </div>
            <button class="btn btn-success">Submit</button>
        </form>
        <h2>ALL Reviews:</h2>
            <% for(let review of camp.reviews) { %>
                <div class="card mb-3 ">
                    <div class="card-body">
                        <h5 class="card-title">Rating:
                        <div>
                            <p class="starability-result" data-rating="<%=review.rating%>">
                                Rated: <%review.rating%> stars
                            </p>
                        </div>
                        </h5>
                        <p class="card-text">Review by: <%= review.author.name %></p>
                        <p class="card-text">Review: <%= review.body %></p>
                        <% if(review.author.equals(user._id)){ %>
                            <form action="/campgrounds/<%=camp._id%>/reviews/<%=review._id%>?_method=DELETE" method="POST">
                                <button class="btn btn-sm btn-danger">Delete</button>
                            </form>
                        <% } %> 
                    </div>
                </div>
            <% } %>
    </div>
</div>
